body {
  font-family: 'Open Sans', sans-serif;

  background: #2C2B3D;

}

nav {
  text-decoration: none;

  font-family: 'JetBrains Mono';

  display: flex;
  justify-content: space-between;
  margin: 71px 99px 101px;
  width: 1083px;
}

ul {
  display: flex;
  align-items: center;
  gap: 64px;
  list-style: none;
  margin: 0;
  padding: 0;

  color: #FFFFFF;
}

a {
  color: #FFFFFF;
  text-decoration: none;
}

ul li a:hover {
  font-weight: bold;
  opacity: 0.8;
}

h1, ul {
  font-family: "JetBrains Mono";
}

main {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 1083px;
  margin: 101px 89px 157px 99px;
}

h1 {
  font-size: 36px;
  line-height: 40px;
  color: #FFFFFF;

  font-weight: bold;

 text-align: center;
}

h1 span {
  color: #89c5cc;
  font-weight: bold;
}

section p {
  font-size: 16px;
  line-height: 28px;
  color: #FFFFFF;

  text-align: center;

  width: 604px;
}

section p span {
  color: #89c5cc;
  font-weight: bold;
  margin: 59px 0 167px;
}

footer {
  font-family: 'JetBrains Mono';
  font-size: 14px;
  font-weight: normal;
  line-height: 28px;
  color: #FFFFFF;

  text-align: center;
  margin-top: 157px;
}

footer a {
  font-weight: normal;
}

.line {
  width: 568px;
  height: 0;

  margin: 0 auto 27px;
  border: 1px solid #00BFA6;
}

#cadeado {
  position: fixed;
  bottom: 0;
  left: 0;
}
